<footer class="footer">
    <div class="footer-conteiner">
      <div class="contato-creditos">
        E-mail para contato: palomavillasboas380@gmail.com 
        Feito por Paloma Franco <br />
        
      </div>
      <div class="icons">
        <div class="links links1">
          <a href="https://github.com/palomafcode" target="_blank">
            <img
              class="transparente"
              src="/images/gitcon.png"
              alt="github-icon"
            />
            
          </a>
        </div>
        <div class="links links2">
          <a
            href="https://www.linkedin.com/in/paloma-franco-villas-boas-2382a696//"
            target="_blank">
            <img
              class="transparente"
              src="/images/link.png"
              alt="linkdin-icon"
            />
          </a>
        </div>
      </div>
    </div>
  </footer>