<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/navegacao-inicio.css" />
    <!-- Sobre mim -->
    <link rel="stylesheet" href="/stylesheets/sobre-mim.css" />
    <!-- Projetos -->
    <link rel="stylesheet" href="/stylesheets/projetos.css" />
    <!-- Habilidades -->
    <link rel="stylesheet" href="/stylesheets/habilidades.css" />
    <!-- footer -->
    <link rel="stylesheet" href="/stylesheets/footer.css" />
  <title>Portfólio | Paloma Franco</title>

</head>
<footer class="footer">
    <div class="footer-conteiner">
      <div class="contato-creditos">
        E-mail para contato: ymatheusvieira.contato@gmail.com <br />
        Feito por Matheus Vieira <br />
        Imagem do south park: sp-studio.de <br />
      </div>
      <div class="icons">
        <div class="links links1">
          <a href="https://github.com/Math-Vieira" target="_blank">
            <img
              class="transparente"
              src="/assets/img/githubff.svg"
              alt="github-icon"
            />
          </a>
        </div>
        <div class="links links2">
          <a
            href="https://www.linkedin.com/in/ymatheus-vieira/"
            target="_blank"
          >
            <img
              class="transparente"
              src="/assets/img/linkedinff.svg"
              alt="github-icon"
            />
          </a>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer -->
  </div>